

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 65rem;
  margin: 0 auto;

}
.fa {
  color: black;
}

.navbar {
  display: flex;

  justify-content: space-between;
}

.navbar__L {
  margin: 0;
}

.navlink{
  text-decoration: none;
  color: black;
}

.Cage {
  margin-right: 1rem;
}

.Hero {
  padding: 1rem;
  background-image: url(./surf-image.jpg);
  background-size: cover;
  min-height: 30rem;
}

.title {
  margin: 1rem 0;
}

.hero__big-text {
  text-align: center;
  color: white;
  font-size: 8rem;
  margin: 0;
}

.hero__little-text {
  text-align: center;
  color: black;
  font-size: 1rem;
}


$gutter: 1rem;
$content-width: 60rem;
$col-min-width: 10rem;

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__nav {
    padding: $gutter;
    background: #25bfda;
  }

  &__main {
    flex-grow: 1;
    padding: $gutter;
    background: #eee;
  }

  &__footer {
    padding: $gutter;
    background: #222;
    color: #eee;
  }
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

.top-nav-title {
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter;

  &__col {
    margin: $gutter;
    min-width: $col-min-width;
    flex-grow: 1;

    &--1-4 {
      width: calc(100% / 4 - #{$gutter} - #{$gutter});
    }

    &--1-2 {
      width: calc(100% / 2 - #{$gutter} - #{$gutter});
    }
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;

  &__byline {
    a {
      color: inherit;
    }
  }
}
