

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}
.fa {
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__L {
  width: 18%;
  margin: auto;
  display: flex;
}

.navbar__R {
  width: 8%;
  margin: auto;
}

.navlink{
  text-decoration: none;
  color: black;
}

.Cage {
  margin: 1rem;
}

.Hero {
  background-image: url(./surf-image.jpg);
  background-size: cover;
  height: 30rem;
}

.title p {
  text-align: center;
  color: white;
  font-size: 8rem;
}

.subtitle p {
  text-align: center;
  color: black;
  font-size: 1rem;
}
