

body {
  margin: 0;
  font-family: sans-serif;

}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

main {
  padding: 2rem 1rem 6rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.grid__item {
  margin: 1rem;
  flex-grow: 1;
}

.grid__item--content {
  flex-basis: calc(75% - 2rem);
  min-width: 10rem;
}

.grid__item--profile {
  flex-basis: calc(25% - 2rem);
  min-width: 10rem;
}

.navbar {
  display: flex;

  justify-content: space-between;
}

.navbar__L {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.navlink{
  text-decoration: none;
  color: black;
}

.Cage {
  margin-right: 1rem;
}

.hero {
  padding: 1rem;
  background-image: url(./images/surf-image.jpg);
  background-size: cover;
  min-height: 30rem;


}

.hero__title {
  margin: 1rem 0;
  padding: 8rem 0;
}

.hero__big-text {
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: normal;
}


.hero__little-text {
  text-align: center;
  color: black;
  font-size: 1rem;
  margin: 45px;
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-nav-title {
  margin: 2rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
}

.subtitle__picture {
  border-radius: 50%;
  height: 1.2em;
  vertical-align: middle;
}

.subtitle__username {
  color: blue;
  font-weight: bold;
}


.footer {
  display: flex;
  justify-content: space-between;

  &__byline {
    a {
      color: inherit;
    }
  }
}
